<%- include('header'); -%>
    <div style="display: flex;flex-direction: column; align-items: center; justify-content: center; height: 95vh;">
        <h2>About lorem</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>
            Sit nisi fugiat perspiciatis est quis, accusantium magni suscipit<br>
            commodi quibusdam corrupti ipsa iure, omnis magnam aliquam.<br>
            Saepe odio autem alias porro!
        </p>
    </div>
<%- include('footer'); -%>
